#!/usr/bin/env xdg-open
[Desktop Entry]
Name=clicraft
Version=1.0
Comment=Unofficial Terminal Game based on Minecraft
Exec=/usr/local/bin/clicraft
Icon=minecraft
Terminal=true
Type=Application
Categories=Games;Application;
